#!/bin/sh -x
PROFILE="@PROFILE@"

export WINEARCH=win32
export WINEPREFIX="$HOME/Wine/$PROFILE"
export WINETRICKS_CACHE="$WINEPREFIX/drive_c/wine"
export W_CACHE="$WINETRICKS_CACHE"
#export WINEDEBUG=-all

cd "$WINETRICKS_CACHE"

wget -nc http://www.kegel.com/wine/winetricks || exit 1

chmod 755 winetricks

exec ./winetricks  "$@"

